#CIT470 Team 1 Project 1 Kickstart File
#CentOS7 Automated Installation
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.7.224 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=Team1Server1.hh.nku.edu

# Reboot after installation
reboot

# Root password
rootpw --iscrypted $6$3361s57Tar2KDos8$bcK1QKAFUJEsyGoIp83FEUNLQhrQz4dna39NubdfbysqMpGUORELT4/oo014mu6c2Hth6WipUPToq8aO1zhwB0
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=7500
part /var --fstype="xfs" --ondisk=sda --size=2000
part swap --fstype="swap" --ondisk=sda --size=512

%post --log=/root/Server1_ks_install.log

useradd -c "Test User" -s /bin/bash -d /home/test -m test
echo "alias ll='ls -alF'" >>/home/test/.bashrc
echo "export PATH=$PATH:/sbin" >>/home/test/.bashrc
chmod 711 /home/test

#Updates and Useful Software Installs
yum update -y
yum install bzip2 -y
yum install wget -y
yum install git -y
yum install openssl -y
%end

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
%end

#Clone apache files and change permissions
git clone https://github.com/kellya14/a1.git
chmod 755 apache-install

mkdir /etc/skel/public_html 
echo "TEST" >> /etc/skel/public_html/index.html
chmod 755 /etc/skep/public_html
chmod 755 /etc/skel/public_html/index.html

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
